<section class="home-section">
  <div class="home-section__head">
    <h2 class="home-section__title">News</h2>
  </div>
  <ul class="news-list">
    {% assign news_items = site.news | sort: 'date' | reverse %}
    {% for post in news_items limit:5 %}
      {% if post.id %}
        {% assign news_title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
      {% else %}
        {% assign news_title = post.title %}
      {% endif %}
      <li class="news-item">
        <span class="news-item__date">{{ post.date | default: "1900-01-01" | date: "%d.%m.%Y" }}</span>
        <span class="news-item__text">{{ news_title }}</span>
      </li>
    {% endfor %}
  </ul>
</section>
