<section class="home-section">
  <div class="home-section__head">
    <h2 class="home-section__title">Teaching</h2>
  </div>
  <ul class="news-list">
    <li class="news-item">
      <span class="news-item__date">WS23</span>
      <span class="news-item__text">Master&rsquo;s Seminar: Learning of and on Manifolds in Medical Imaging &mdash; TU Munich</span>
    </li>
  </ul>
  <div class="home-section__text">I am always looking for motivated Master&rsquo;s students for open projects. Please send me your CV and transcripts via <a href="mailto:{{ site.author.email }}">email</a>.</div>
</section>
